/* 
    We can think as following:
    ID 100 points
    Class 10 points
    element 1 point
*/

/* Style adjacent selectors */
#all-articles h2+p{
    color: red;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
