/* 
    Psuedo Classes?
    Special selectors that go after selectors
    They can be used to target:
    - special behavioral states
    - Advanced structural elements
*/

/* Text decoration */
div[id="article"] {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: overline;
}

a{
    text-decoration: inherit;
}

a#check-balance{
    text-decoration: line-through;
}