/* 
    We can think as following:
    ID 100 points
    Class 10 points
    element 1 point
*/

/* This one will target only the p tags under main-content div*/

#main-content p{
    color: brown;
}

p{
    color: chartreuse;
}

.test {
    color: darkblue;
}

/* this one will work explicitly though it has 1 point only */

strong {
    color: darkblue;
}